# Ignore images folders

/home/anna/codebase/git_codebase/HRI_ZPD/PatternsComplexityScale/exp_setup/hopfield/images






# Ignore log files
*.log

# Ignore compiled files
*.o
*.out
*.class

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor config files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
